.container {
  border: 2px solid rgb(29 56 96);
  border-radius: 5px;
  text-align: center;
  margin: 2rem 5rem 1rem 5rem;
  display: flex;
  flex-direction: column;
}
.title {
  margin-top: 0.5rem;
}
.getTemperaments {
  padding: 5px 10px;
  margin: 5px 45px;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid rgb(29 56 96);
}
.ButtonClear {
  color: white;
  background-color: #333;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 200ms ease;
  font-size: 15px;
  margin: 15px 45px 25px;
}
.ButtonClear:hover {
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}

.p {
  background-color: rgb(29 56 96);
  color: white;
  border-radius: 10px;
  font-size: 15px;
  width: 7vw;
}

.delete {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  transition: color 0.3s ease;
  font-weight: bold;
}
.delete:hover {
  cursor: pointer;
  color: red;
}

.temperamentsSelected {
  display: flex;
  justify-content: center;
}

.selectedTempe{
  display: flex;
}