@import "../../vars.css";
.container {
  width: 25%;
  border: 2px solid var(--color-Gunmetal);
  border-radius: 5px;
  display: flex;
  margin: 2vh 1.5vh;
  padding: 0.5vh 1vh;
  flex-direction: column;
  text-align: center;
}
.title {
  margin: 0vh 2vh 2vh 2vh;
  font-size: 1.5rem;
}

.getTemperaments {
  border-radius: 10px;
  border: 1px solid var(--color-Gunmetal);
  cursor: pointer;
  background: transparent;
  margin: auto;
  padding: 1vh 2vh;
}

.selectedTempe {
  display: flex;
  justify-content: center;
}
.temperamentsSelected {
  margin-left: 1vw;
  margin-top: 0.5vw;
}

.ButtonClear {
  color: white;
  background-color: var(--color-Gunmetal);
  border: none;
  padding: 1vh 2vh;
  border-radius: 5px;
  transition: ease 200ms ease-in-out;
  font-size: 15px;
  margin: 1vh auto 1vh auto;
}

.ButtonClear:hover {
  font-weight: bold;
  background-color: var(--color-charlestongreen);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.delete {
  background: transparent;
  border: 1px solid var(--color-Gunmetal);
  transition: color 0.3s ease;
  font-weight: bold;
  border-radius: 5px;
}

.delete:hover {
  cursor: pointer;
  color: red;
}
