.fromContainer {
  text-align: center;
}

/* .btn {
	color: white;
	background-color: var(--color-Gunmetal);
	border: none;
	border-radius: 5px;
	transition: ease 200ms ease-in-out;
	font-size: 15px;
	padding: 1vh;
	margin: 1vh auto 1vh 1vh;
}

.btn:hover {
    /* cursor: pointer;
	border-left: none;
	background-color: var(--color-Gunmetal);
	font-size: medium;
	color: #eee;
} 
*/

/* .input {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.input:focus {
  border:none;
} */

.text{
	border: 2px solid var(--color-slateGray);
	border-radius: 5px;
	padding: 0.5vh;
}

.text:focus {
  outline: none;
}

/* .error {
  color: black;
} */
