.error{
    color:black;
}


.fromContainer{
    display:flex;
    justify-content:center;
    position: relative;
}

.input{
    /* border:2px solid rgb(29 56 96);
    border-radius: 2rem;
    margin: 2rem 2rem 2rem 20rem; */
    display: flex;
    border: 2px solid rgb(29 56 96);
    border-radius: 5px;
    width: 100%;
    padding:5px;
    margin:20px 0px 50px 39%;
}
.input::placeholder{
    text-align: center;
}
