:root{
    --color-babyPowder: #FBFBF2;
    --color-platinium: #E5E6E4;
    --color-timberwolf: #CFD2CD;
    --color-quicksilver: #A6A2A2;
    --color-rocketmetallic: #847577;
    --color-black: black;
}