.mainContainer {
  border-bottom: 2px solid;
  border-color: rgb(29 56 96);
  background-color: white;
  width: auto;
}
.navContainer {
  display: flex;
}
.logo {
  border-radius: 1rem;
  width: auto;
  height: 7vh;
  margin:10px;
}
@keyframes logoAnimated {
  50% {
    transform: rotate(360deg);
  }
}

.logo:hover {
  animation: logoAnimated 3s;
}

.linkContainer {
  padding: 20px;
  margin: 10px;
}
.home,
.about,
.create {
  border: 2px solid;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-color: rgb(29 56 96);
  padding: 8px;
  margin: 0.4rem;
}

.home:hover,
.about:hover,
.create:hover {
  background-color: rgb(29 56 96);
  transition: background-color linear 0.9s;
  color: white;
  transition: color 1s;
}
